body{
    display: flex;
    justify-content: center;
}
.logo{
    position: absolute;
    width: 50vh;
    height: 50vh;
    background-color: blue;
    border-radius: 100%;
    overflow: hidden;
}
.logo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.logo:hover::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: hsl(290, 31%, 67%, .9);
    bottom:0;
    left: -50%;
    border-radius: 35%;
    animation: wave 5s ease-in-out alternate infinite;
}

@keyframes wave{
    to {
        transform: translateY(-50%) rotate(540deg);
    }
}